/*Стиле общие для страницы*/
* {
  padding: 0; /*внутренний отсуп*/
  margin: 0; /*внешний отсуп*/
}

/*Стиле общие для bodyp*/
body {
  color: #413d4b; /*изменение цвета шрифта*/
  font-family: 'Roboto', sans-serif; /*семейство шрифта*/
  font-weight: 300; /*начертание шрифта*/
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

header {
  /* width: 1600px; ширина */
  /* height: 670px; высота */
  background-color: #42326b; /*заливка фона*/
  background-image: url(../img/bg-header.jpg); /*фоновая картинка*/
  background-size: cover;
}

.top-header,
.header-text {
  width: 950px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}

.top-header {
  overflow: hidden;
  padding-top: 15px;
  margin-bottom: 160px;
}

.logo {
  float: left;
}

.menu {
  float: right;
  list-style: none;
  padding-top: 15px;
}

.menu li {
  float: left;
  margin-left: 25px;
}

.menu li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
}

.header-text {
  color: white;
  text-align: center;
  width: 750px;
  margin: 0 auto;
  padding-bottom: 205px;
}

.header-text h1 {
  font-size: 32px;
  margin-bottom: 50px;
}

.header-text h2 {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 50px;
  line-height: 24px;
}

.link-button {
  display: inline-block;
  border: solid 1px #00e0d0;
  padding: 10px 15px;
  font-weight: 500;
  text-decoration: none;
  color: #00e0d0;
}

.content {
  width: 950px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}

.history {
  padding-top: 70px;
  margin-bottom: 70px;
}

.img-left {
  float: left;
  margin: 15px 100px;
}

.history-text h2 {
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 24px;
}

.history-text p {
  font-size: 14px;
  margin-bottom: 24px;
  line-height: 22px;
}

.form {
  width: 460px;
  margin: 0 auto 100px auto;
}

.form h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 22px;
  margin-bottom: 24px;
}

.input_text {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px 20px;
  border: 1px solid #e5e5e5;
  font-size: 14px;
  color: #413d4b;
  outline: none;
}

.message-field {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px 20px;
  border: 1px solid #e5e5e5;
  font-size: 14px;
  color: #413d4b;
  outline: none;
  height: 150px;
}

.submit {
  display: inline-block;
  border: solid 1px #00e0d0;
  padding: 10px 15px;
  font-weight: 500;
  text-decoration: none;
  color: #00e0d0;
  background: none;
  font-size: 16px;
  cursor: pointer;
}

footer {
  background-color: #42326b;
  background-image: url(../img/bg-footer.jpg);
  background-size: cover;
}

.footer {
  width: 950px;
  margin: 0 auto;
  padding: 70px 10px;
  box-sizing: border-box; /* Объединение размеров */
  overflow: hidden;
}

.footer-logo {
  float: left;
}

.copyright {
  float: right;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  margin-top: 20px;
}
